Package: com.deerspotter.safariblocker
Name: SafariBlocker
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Description: Block New Tabs with Options!
Maintainer: DeerSpotter
Author: DeerSpotter
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.3.4
Installed-Size: 424
Depiction: https://deerspotter.github.io/safariblocker/
Icon: https://deerspotter.github.io/safariblocker/IMG_4315.png
