Package: com.p2kdev.safariblocker
Name: SafariBlocker
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Description: Block New Tabs with Options!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.3.2
Installed-Size: 424
Depiction: https://p2kdev.github.io/repo/depictions/index.html?packageId=com.p2kdev.safariblocker
Icon: https://p2kdev.github.io/repo/api/packageinfo/com.p2kdev.safariblocker/icon.png
SileoDepiction: https://p2kdev.github.io/repo/depictions/native/com.p2kdev.safariblocker.json
